.container {
    padding: 0 10%;
    margin-bottom: 8rem;
}

.container * {
    width: min(850px, 100%);
    margin: auto;
}

.container h3 {
    margin: 0 0 2rem;
    font-size: 1.6rem;
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 0);
}

.content h4{
    margin: 1.5rem 0 .3rem;
}

.content p {
    font-size: .8rem;
}

.krillin {
    
}